@model IEnumerable<EquineNowReloaded.Models.HorseListItem>

@{
    ViewBag.Title = "Horses";
}

<h2>Horses</h2>

<p>
    @Html.ActionLink("Add Horse", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HorseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntakeNotes)
        </th>
    </tr>



    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntakeNotes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.HorseId }) |
                @Html.ActionLink("Details", "Details", new { id = item.HorseId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HorseId })
            </td>
        </tr>
    }

</table>
