@model EquineNowReloaded.Models.AuctionDetail

@{
    ViewBag.Title = "Auction Details";
}

<h2>Auction Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuctionLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionLocation)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.TotalHorsesRescued)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalHorsesRescued)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.AuctionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuctionDate)
        </dd>

        <br />
        <br />
        @*<h2>Horses</h2>*@

        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">
                Horses
            </a>
        @*<dt>
            @Html.DisplayNameFor(model => model.HorseId)
        </dt>*@
        @if (Model.Horses is null)
        {
            Model.Horses = new List<EquineNowReloaded.Data.Horse>();
        }
        else
        {
            foreach (var h in Model.Horses)
            {
                @*<dd>
                    @Html.DisplayFor(model => h.HorseId)
                </dd>*@

        <dd>
            @Html.DisplayFor(model => h.HorseName)

        </dd>
            }
        }
        </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuctionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
