@model IEnumerable<EquineNowReloaded.Models.AuctionListItem>

@{
    ViewBag.Title = "Auctions";
}

<h2>Auctions</h2>

<p>
    @Html.ActionLink("Add Auction", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-bordered table-striped table-hover display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuctionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuctionLocation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.AuctionDate)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuctionDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AuctionId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AuctionId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AuctionId })
                </td>
            </tr>
        }
    </tbody>
</table>
