@model EquineNowReloaded.Models.VetCheckDetail

@{
    ViewBag.Title = "Details";
}

<h2>Vet Check Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VetCheckId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VetCheckId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntakeNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntakeNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Injury)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Injury)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VetCheckId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
