@model IEnumerable<EquineNowReloaded.Models.VetCheckListItem>

@{
    ViewBag.Title = "Vet Checks";
}

<h2>Vet Checks</h2>

<p>
    @Html.ActionLink("Add Vet Check", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table table-bordered table-striped table-hover display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VetCheckId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VetCheckId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VetCheckId }) |
                @Html.ActionLink("Details", "Details", new { id = item.VetCheckId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.VetCheckId })
            </td>
        </tr>
    }

</table>
