@model IEnumerable<EquineNowReloaded.Models.VetCheckListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VetCheckId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HorseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Breed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VetCheckId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HorseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Breed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VetCheckId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VetCheckId  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VetCheckId  })
        </td>
    </tr>
}

</table>
